* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}

body {
  background-image: linear-gradient( rgba(209, 33, 33, 0.6), rgba(3, 3, 3, 0.6)), url(background.png);
  background-size: cover;
}

.logo a {
  color: hwb(0 100% 0%);
  padding: 0px 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
}

.logo a span {
  color: hwb(43 56% 6%);
  font-weight: bold;
  font-size: 2em;
  text-shadow: rgb(0, 0, 0);
}

ul {
  list-style: none;
  float: right;
  display: flex;
  margin-top: 20px;
}

ul li a {
  text-decoration: none;
  color: #f9f8f8;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid transparent;
  margin: 10px;
  font-weight: 500;
  transition: 0, 6 ease;
}

ul li a:hover {
  background: hwb(43 56% 6%);
  color: rgb(0, 0, 0);
}

.principale {
  max-width: 114rem;
  margin: 0 auto;
}

.titre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titre h1 {
  color: hwb(43 56% 6%);
  font-size: 70px;
}

.bouton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bouton a {
  color: #f8f7f7;
  text-decoration: none;
  border: 1px solid hwb(43 56% 6%);
  padding: 10px 20px;
}

.btn {
  transition: 00, 6s ease;
}

.btn:hover {
  background-color: hwb(43 56% 6%);
  color: #000000;
}
